<div class="container mt-4 col-sm-6">
  <form *ngIf="form" [formGroup]="form">
    <div class="form-group">
      <div class="mb-3">
        <label for="long-link" class="form-label">Long link</label>
        <input type="text" class="form-control" id="long-link" placeholder="https://..." aria-describedby="longLinkHelp"
               formControlName="longUrl"
               [class.is-invalid]="form.controls.longUrl.invalid && (form.controls.longUrl.dirty || form.controls.longUrl.touched)"
               [class.is-valid]="form.controls.longUrl.valid && (form.controls.longUrl.dirty || form.controls.longUrl.touched) ">
        <div id="longLinkHelp" class="form-text">Please write here a long link.</div>
      </div>
      <div class="mt-2 mb-2" *ngIf="form.controls.longUrl.errors&&(form.dirty || form.touched)">
        <p *ngIf="form.controls.longUrl.hasError('pattern')" class=" alert alert-warning"> Link is not valid</p>
        <p *ngIf="form.controls.longUrl.hasError('required')" class=" alert alert-warning">Link is required</p>
      </div>
      <div class="mb-3">
        <label for="expiration-date" class="form-label">Expiration date</label>
        <input type="date" class="form-control" id="expiration-date" aria-describedby="expirationDateHelp"
               formControlName="date">
        <div id="expirationDateHelp" class="form-text">By default expiration date for a link is 3 days.
        </div>
      </div>

      <div class="mt-2 mb-2" *ngIf="form.controls.date.errors && (form.dirty || form.touched)">
        <p *ngIf="form.controls.date.hasError('isBeforeToday')" class=" alert alert-warning">Date cannot be in the past</p>
      </div>
      <button type="submit" class="btn btn-primary" id="submit" [disabled]="form.invalid" (click)="onSubmit()">Submit
      </button>
    </div>
  </form>
  <div>
  </div>
</div>

